.form-control {
    background-color: $gray-900;
    color: $gray-300;
    border: 1px solid transparent;
    //border-radius: 5px;

    @include transitionBasic(all, 190ms);

    &:focus, &:active {
        -webkit-box-shadow: none;
                box-shadow: none;
        background-color: $gray-900;
        border: 1px solid $lightblue;
        color: $gray-300;

        @include transitionBasic(all, 190ms);
    }
}
.form-check {
    padding: 0;
}
input[type="checkbox"] {
    display: none;

    &+label {
        display: inline-block;
        position: relative;
        padding: 0 0 0 22px;

        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        -webkit-backface-visibility: hidden;
        -webkit-transform: translateZ(0) scale(1.0, 1.0);
        transform: translateZ(0);

        &:before {
            content: '';
            position: absolute;
            width: 16px;
            height: 16px;
            left:0;
            top:50%;

            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);

            background-color: $gray-900;
        }

        &:after {
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            left:3px;
            top:50%;

            opacity: 0;

            -webkit-transform: translateY(-50%) scale(0);
            transform: translateY(-50%) scale(0);

            @include transitionBasic(all, 125ms);

            background-color: $lightblue;
        }
        &:hover {
            cursor: pointer;
            color: $lightblue;
        }
    }
    &:checked {
        &+label {
            color: $lightblue;

            &:after {
                opacity: 1;
                -webkit-transform: translateY(-50%) scale(1);
                transform: translateY(-50%) scale(1);
            }
        }
    }
}
input[type="radio"] {
    @extend input[type="checkbox"];

    &+label {
        &:before, &:after {
            border-radius: 50%;
        }
    }
}
.label-section {
    display: block;
    position: relative;
    //border-radius: 5px;
    padding: 0 0 0 15px;
    font-size: 14px;
    color: $lightorange;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:before {
        content: '';
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        width: 5px;
        background: $lightorange;
    }
}
.btn {
    //border-radius: 30px;
    background-color: transparent;
    border: 1px solid $lightorange;
    color: $lightorange;

    &:hover {
        background-color: $orange;
        border-color: $orange;
        color: $white;
    }
}
.btn--bleu {
    border: 1px solid $lightblue;
    background-color: transparent;
    color: $lightblue;

    @include transitionBasic(all, 125ms);

    &:hover {
        background-color: $lightblue;
        color: $gray-800;
        border-color: $lightblue;
    }
}
.btn--vert {
    border: 1px solid $vert2;
    background-color: transparent;
    color: $vert2;

    @include transitionBasic(all, 125ms);

    &:hover {
        background-color: $vert2;
        color: $gray-800;
        border-color: $vert2;
    }
}