#bg {
    display: none;
    position: fixed;
    left:50%;
    top:50%;
    
    min-width: 102%;
    min-height: 102vh;
    z-index: -1;

    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
.home-map-list {
    li {
        display: block;

        @include media-breakpoint-down(sm){
            margin: 0 0 5px 0;
        }
    }
}
form {
    input {
        &::-moz-selection { /* Code for Firefox */
            color: $white;
            background: $lightblue;
        }

        &::selection {
            color: $white;
            background: $lightblue;
        }
    }
}
.errorMessage {
    position: relative;
    overflow: hidden;

    span {
        display: inline-block;
        position: relative;
        top: 100px;
        width: 100%;
        background-color: $danger;
        color: $white;
        padding: 5px 10px;
        //border-radius: 5px;
        margin-bottom: 15px;
    }
}
.advanced-settings {
    position: relative;
    text-align: right;
    margin: 0 0 15px 0;
    
    &:before {
        content: '';
        width: 100%;
        height: 0;
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 1;
        border-bottom: 1px solid $lightorange;
    }

    span {
        display: inline-block;
        position: relative;
        z-index: 2;
        padding: 5px 10px 5px 20px;

        background-color: $gray-800;
        font-size: 13px;

        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        @include transitionBasic(all, 125ms);

        i {
            display: inline-block;
            vertical-align: middle;
            font-size: 14px;
            color: $lightorange;

            @include transitionBasic(all, 125ms);

            -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
        }
    }

    &:hover {
        cursor: pointer;

        span {
            padding: 5px 10px;
            color: $lightorange;
        }
        i {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
    }
    &.is-open {
        span {
            padding: 5px 10px;
            color: $lightorange;
        }

        i {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        &:hover {
            span {
                padding: 5px 10px 5px 20px;
                color: $lightorange;
            }
            i {
                -webkit-transform: rotate(-180deg);
                transform: rotate(-180deg);
            }
        }
    }
}
.advanced-settings-content {
    overflow: hidden;

    &.is-open {
        display: block;
    }
}
.successCopied {
    position: fixed;
    top: -100px;
    right: 15px;
    opacity: 0;
    padding: 5px 10px;
    background-color: $vert;
    //border-radius: 5px;
    color: $white;
}
#copy-settings {
    position: relative;
    top: 20px;
    opacity: 0;

    background-color: $gray-900;
}