@import "_partials/lobby-infos";
.ui-actions {
    a {
        position: relative;
        color: $white;
        background-color: $gray-900;
        border: 1px solid $gray-900;
        padding: 5px 10px 5px 42px;
        //border-radius: 5px;
        font-size: 14px;

        i {
            position: absolute;
            left: 5px;
            top: 50%;
            font-size: 22px;
            vertical-align: middle;

            transform: translateY(-50%);
        }

        @include transitionBasic(all,125ms);

        &:hover, &.active {
            border-color: $lightorange;
            color: $lightorange;
            text-decoration: none;
        }
    }
}
.lobby-section{
    h2 {
        font-family: $roboto;
        font-size: 22px;
        font-weight: 400;
        letter-spacing: 2px;

        span {
            color: $lightorange;
        }
    }
}
.status-bar {
    width: 0;
    overflow: hidden;
}
.status-bar--team1 {
    text-align: right;
    border-top: 1px solid $lightblue;

    .ready-button {
        border-right: 1px solid $lightblue;
        border-bottom: 1px solid $lightblue;
        border-left: 1px solid $lightblue;

        color: $lightblue;
    }
    h2 {

    }
}
.status-bar--team2 {
    text-align: left;
    border-top: 1px solid $rouge;
    float: right;

    .ready-button {
        border-right: 1px solid $rouge;
        border-bottom: 1px solid $rouge;
        border-left: 1px solid $rouge;

        color: $rouge;
    }

    h2 {

    }
}
.ready-button {
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
    position: relative;
    top:-50px;

    -webkit-transition: border-right cubic-bezier(0.4, 0.0, 0.2, 1) 190ms,
    border-bottom cubic-bezier(0.4, 0.0, 0.2, 1) 190ms,
    border-left cubic-bezier(0.4, 0.0, 0.2, 1) 190ms,
    background-color cubic-bezier(0.4, 0.0, 0.2, 1) 190ms,
    color cubic-bezier(0.4, 0.0, 0.2, 1) 190ms;

    transition: border-right cubic-bezier(0.4, 0.0, 0.2, 1) 190ms,
    border-bottom cubic-bezier(0.4, 0.0, 0.2, 1) 190ms,
    border-left cubic-bezier(0.4, 0.0, 0.2, 1) 190ms,
    background-color cubic-bezier(0.4, 0.0, 0.2, 1) 190ms,
    color cubic-bezier(0.4, 0.0, 0.2, 1) 190ms;

    &:hover {
        cursor: pointer;
        border-right: 1px solid $vert;
        border-bottom: 1px solid $vert;
        border-left: 1px solid $vert;
        background-color: $vert;
        color: #fff;
    }

    &.disabled {
        border-right: none;
        border-bottom: none;
        border-left: none;
        color: $vert;

        &:hover {
            cursor: default;
            background-color: transparent;
            color: $vert;
        }
    }


}
.team1_status, .team2_status {
    position: relative;
    top:-50px;
    width: 100%;
    padding: 5px 0;

    &.ready {
        color: $vert;
    }
    &.not-ready {
        color: $rouge;
    }
}
.map__type {
    position: absolute;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    left:-30px;
    top: -1px;
    width: 30px;
    height: calc(100% + 2px);
    padding: 5px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    text-align: center;
    color: $gray-800;

    background-color: $gray-900 - 10;
    //border-top-left-radius: 5px;
    //border-bottom-left-radius: 5px;
    border-top: 1px solid $gray-900 - 10;
    border-bottom: 1px solid $gray-900 - 10;
    border-left: 1px solid $gray-900 - 10;

    -webkit-transition: border-right cubic-bezier(0.4, 0.0, 0.2, 1) 190ms,
    border-bottom cubic-bezier(0.4, 0.0, 0.2, 1) 190ms,
    border-left cubic-bezier(0.4, 0.0, 0.2, 1) 190ms,
    background-color cubic-bezier(0.4, 0.0, 0.2, 1) 190ms,
    color cubic-bezier(0.4, 0.0, 0.2, 1) 190ms;

    transition: border-right cubic-bezier(0.4, 0.0, 0.2, 1) 190ms,
    border-bottom cubic-bezier(0.4, 0.0, 0.2, 1) 190ms,
    border-left cubic-bezier(0.4, 0.0, 0.2, 1) 190ms,
    background-color cubic-bezier(0.4, 0.0, 0.2, 1) 190ms,
    color cubic-bezier(0.4, 0.0, 0.2, 1) 190ms;

    b {
        font-weight: 400;

        i {
            position: relative;
            right: -2px;
            top: 2px;
        }
    }
}
.map__name {

}
.map__img {
    position: absolute;
    top: 50%;
    right: 0;
    width: 25%;
    height: 100%;
    overflow: hidden;

    -webkit-transform: translateY(-50%);

            transform: translateY(-50%);
    
    @include transitionBasic(all,190ms);

    img {
        position: absolute;
        min-width: 100%;
        min-height: 100%;
        left: 50%;
        top: 30%;

        -webkit-transform: translateX(-50%) translateY(-30%);

                transform: translateX(-50%) translateY(-30%);
        -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
        opacity: 0.6;

        @include transitionBasic(all,190ms);
    }
}
.map__inner-wrapper {
    overflow: hidden;
    position: relative;
    padding: 5px 30% 5px 15px;

    color: $gray-700;

    //border-top-right-radius: 5px;
    //border-bottom-right-radius: 5px;

    @include transitionBasic(all,190ms);
}
.map-list {
    padding: 0;

    li {
        position: relative;
        opacity: 0;
        margin: 10px 0 10px 30px;
        background-color: $gray-900;
        //border-top-right-radius: 5px;
        //border-bottom-right-radius: 5px;
        border-top: 1px solid $gray-900;
        border-bottom: 1px solid $gray-900;
        border-right: 1px solid $gray-900;

        font-size: 16px;
        letter-spacing: 4px;

        -webkit-transition: border-right cubic-bezier(0.4, 0.0, 0.2, 1) 190ms,
        border-bottom cubic-bezier(0.4, 0.0, 0.2, 1) 190ms,
        border-left cubic-bezier(0.4, 0.0, 0.2, 1) 190ms,
        background-color cubic-bezier(0.4, 0.0, 0.2, 1) 190ms,
        color cubic-bezier(0.4, 0.0, 0.2, 1) 190ms;

        transition: border-right cubic-bezier(0.4, 0.0, 0.2, 1) 190ms,
        border-bottom cubic-bezier(0.4, 0.0, 0.2, 1) 190ms,
        border-left cubic-bezier(0.4, 0.0, 0.2, 1) 190ms,
        background-color cubic-bezier(0.4, 0.0, 0.2, 1) 190ms,
        color cubic-bezier(0.4, 0.0, 0.2, 1) 190ms;

        &.ban {
            .map__type {
                color: $gray-800;
            }
            .map__name {
            }
            .map__img{

            }
        }
        &.in-bo {
            border-top: 1px solid rgba($vert,0.5);
            border-bottom: 1px solid rgba($vert,0.5);
            border-right: 1px solid rgba($vert,0.5);

            .map__type {
                border-color: rgba($vert,0.5);
            }
        }
    }

    &.enabled {
        li {
            &:not(.ban):hover {
                cursor: pointer;
                background-color: $gray-900 + 5;
                border-top: 1px solid $lightblue;
                border-bottom: 1px solid $lightblue;
                border-right: 1px solid $lightblue;

                .map__type {
                    color: $white;
                    border-top: 1px solid $lightblue;
                    border-bottom: 1px solid $lightblue;
                    border-left: 1px solid $lightblue;
                }
                .map__name {

                }
                .map__img {
                    img {
                        
                    }
                }
                .map__inner-wrapper {
                    padding: 5px 15px 5px 20px;
                    color: $lightblue;
                }
            }
            .map__type {
                color: $white;
            }
            .map__img {
                img {
                    -webkit-filter: grayscale(0);
                            filter: grayscale(0);
                    opacity: 1;
                }
            }
            .map__inner-wrapper {
                color: $white;
            }
        }
    }

    &.done {
        .map__type {
            color: $white;

            b {
                position: relative;
                top:0;
                right: -2px;
            }
        }
        .map__inner-wrapper {
            color: $white;
        }
        .map__img {
            img {
                -webkit-filter: grayscale(0);
                        filter: grayscale(0);
                opacity: 1;
            }
        }
    }
}
.maps {
    position: relative;
    border-top: 1px solid $lightorange;
    padding: 30px 0 0 0;

    li {
        &.team1 {
            .map__type {
                background-color: $lightblue;
            }
        }
        &.team2 {
            .map__type {
                background-color: $rouge;
            }
        }
    }
}
.lobby-message {
    margin: 15px 0;
    text-align: center;

    span {
        display: inline-block;
        padding: 5px 10px;

        a {
            color: $lightorange;
        }
    }

    &.is-hidden {
        position: relative;
        opacity: 0;
        top: -10px;
        margin: 0;
    }
}
.lobby-status {
    position: absolute;
    overflow: hidden;
    width: 100%;
    top:0;
    left: 0;
    text-align: center;

    span {
        display: inline-block;
        position: relative;
        top: -50px;
        padding: 2px 15px;

        color: $lightorange;
        font-family: $roboto;
        text-transform: uppercase;

        border-left: 1px solid $lightorange;
        border-right: 1px solid $lightorange;
        border-bottom: 1px solid $lightorange;
    }
}
.timer-wrapper {
    overflow: hidden;
    text-align: center;
}
.timer {
    display: inline-block;
    padding: 15px 20px;
    margin: 0 0 10px 0;
    font-family: $roboto;
    font-size: 20px;
    letter-spacing: 1px;
    //border-radius: 15px;
    background-color: $gray-900;
    border: 1px solid $gray-900;

    @include transitionBasic(all, 500ms);

    &.team1-timer {
        border: 1px solid $lightblue;
    }
    &.team2-timer {
        border: 1px solid $rouge;
    }
}
.timer-info {
    display: inline-block;
    padding: 2px 7px;
    margin: 0 0 10px 0;
    //border-radius: 5px;
    background-color: $gray-900;
    font-family: $roboto;
}
.background-green {
    &.active {

    }
}
