.lobby-infos {
    position: relative;
    margin: 0 0 20px 0;

    background-color: $gray-900;

    .container {
        position: relative;
    }
    .lobby-infos-content {
        overflow: hidden;
        height: 15px;

        .row {
            margin-top: 15px;
            margin-bottom: 30px;
            opacity: 0;
            position: relative;
            top: 30px;
        }
    }
}
.lobby-infos-button {
    position: absolute;
    left: 0;
    bottom: -15px;
    z-index: 2;
    padding: 2px 5px 2px 10px;
    //border-bottom-right-radius: 3px;
    //border-bottom-left-radius: 3px;

    background-color: $gray-900;
    color: $white;
    font-size: 14px;

    -webkit-user-select: none;

       -moz-user-select: none;

        -ms-user-select: none;

            user-select: none;

    i {
        display: inline-block;
        @include transitionBasic(all,190ms);
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
        color: $lightorange;
    }

    &:hover {
        color: $lightorange;
        text-decoration: none;

        i {
            color: $lightorange;
        }
    }
    &:active, &:focus {
        text-decoration: none;
        color: $white;
    }

    &.is-open {
        color: $lightorange;

        i {
            -webkit-transform: rotate(-180deg);
                    transform: rotate(-180deg);
        }
    }
}
.lobby-details {
    span {
        color: $lightorange;
    }
    ul {
        font-size: 14px;
        padding: 0;
        margin: 0;

        li {
            list-style: none;
            margin: 0 0 5px 0;
            font-family: $roboto;
            letter-spacing: 1px;
            
            span {
                font-family: $raleway;
                letter-spacing: normal;
            }
        }
    }
}
.lobby-links {
    input {
        width: 100%;
        font-size: 14px;
        padding: 2px 7px;
        margin: 0 0 5px 0;

        background-color: $gray-700;
        color: $black;
        border: none;
        //border-radius: 3px;

        &::-moz-selection { /* Code for Firefox */
            color: $white;
            background: $lightorange;
        }

        &::selection {
            color: $white;
            background: $lightorange;
        }
    }
    a {
        color: $lightorange;
        font-size: 12px;
    }
}