$lightorange : #FFC107;
$orange: #FF8500;
$orange2: #FFEA00;
$bleu: #0091EA;
$lightblue: #40C4FF;
$grayow : #43484c;
$vert : #00E676;
$rouge : #FF1744;
$vert1: #3c7a1f;
$vert2: #94f574;
$violet: #9c6cff;

$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

@font-face {
    font-family: 'overwatch';
    src:  url('./vendors/font/overwatch.eot?4qmgit');
    src:  url('./vendors/font/overwatch.eot?4qmgit#iefix') format('embedded-opentype'),
    url('./vendors/font/overwatch.ttf?4qmgit') format('truetype'),
    url('./vendors/font/overwatch.woff?4qmgit') format('woff');
    font-weight: normal;
    font-style: normal;
}

i.ow {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'overwatch' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ow-arena:before {
    content: "\e900";
}
.ow-assault:before {
    content: "\e901";
}
.ow-control:before {
    content: "\e902";
}
.ow-escort:before {
    content: "\e903";
}
.ow-hybrid:before {
    content: "\e904";
}
