@import "variables";
@import "mixins";
@import "bootstrap/bootstrap-reboot";
@import "bootstrap/bootstrap-grid";
@import "bootstrap/bootstrap";

@import "vendors/fpslineicons-embedded";
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');
$raleway : 'Raleway', sans-serif;
$roboto : 'Roboto', sans-serif;

@import "views/forms";
@import "views/lobby";
@import "views/home";

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
*:not(input){
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
html {
    height: 100%;
    min-height: 100%;
}
body {
    position: relative;
    background-color: rgba($gray-800,1);
    color: $white;
    font-family: $raleway;

    height: 100%;
    min-height: 100%;

    &.green-background {
        transition: all 300ms ease;

        background-color: rgb(0,255,0);

        h2, footer {
            text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
            background: rgba(0,0,0,0.8);
            padding: 5px 15px;
            backface-visibility: hidden;
            color: #fff;
        }
        .in-bo {
            outline: 1px solid #000;
            .map__type {
                outline: 1px solid #000;
            }
        },
        .lobby-status > span {
            text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000
        }
        .map-list {
            text-shadow: none;
        }
    }
}

.main-container {
    position: relative;
    top: 20px;
    opacity: 0;
}
b {
    font-weight: 700;
}
hr {
    margin: 0 0 10px 0;
    height: 0;
    border: none;
    border-bottom: 1px solid $lightorange;
}
h2 {

}
h3 {
    position: relative;
    font-size: 18px;
    font-weight: 600;
    padding: 0 0 10px 0;
    margin: 0 0 15px 0;

    &:after {
        content: '';
        position: absolute;
        bottom:0;
        left: 0;

        width: 100%;
        border-bottom: 1px solid $lightorange;
    }
}
header {
    position: relative;
    z-index: 2;
    padding: 5px 0;
    background: -webkit-gradient(linear, left top, right top, from($orange), to($orange2));
    background: linear-gradient(to right, $orange, $orange2);
    text-shadow: 0 0 1px rgba($black, 0.3);

    a {
        font-size: 18px;
        margin: 0;
        color: $white;

        &:hover, &:active, &:focus {
            color: $white;
            text-decoration: none;
        }
    }
    small {
        background-color: $gray-800;
        padding: 2px 7px;
        //border-radius: 5px;
    }
}
ul {
    padding: 0;

    li {
        list-style: none;
    }
}
footer {
    padding: 15px 0;
    font-size: 12px;
    color: $gray-500;

    p {
        margin: 0;
        &:first-child {
            font-size: 14px;
            svg {
                height: 18px;
                width: 18px;
                vertical-align: middle;
            }
            a {
                padding: 0 5px;
            }
        }
    }

    .icon-heart {
        color: $rouge;
    }
    .icon-twitter1 {
        color: $lightblue;
    }

    a {
        color: $lightorange;

        &:hover,&:active,&:focus {
            color: $lightorange;
            text-decoration: none;
        }
    }
}
.bg-dark-opacity {
    background-color: rgba($black,0.5);
}
.info {
    position: relative;
    height: 0;
    top: -30px;
    opacity: 0;
    overflow: hidden;
    
    color: $white;
    padding: 0;

    .container {
        background-color: $lightblue;
        padding: 5px 15px;
        //border-bottom-right-radius: 5px;
        //border-bottom-left-radius: 5px;
    }
}
